<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golearn.mapper.UserMapper">

	<insert id="save" parameterType="com.golearn.domain.UserDto">
		insert into gl_member (mbr_id, mbr_email, mbr_pwd, mbr_nickname, mbr_profile)
		values (#{username}, #{passowrd}, #{nickname}, #{profile})
	</insert>
	
	<update id="updateUser">
		
	</update>
	
	<update id="disableUser">
		update gl_member set ck_active = false where mbr_no = #{no}
	</update>
	
	<select id="findByUsername" resultType="com.golearn.domain.UserDto">
		select mbr_no as no, mbr_id as username, mbr_pwd as passowrd, mbr_email as email, mbr_nickname as nickname, mbr_profile as profile, reg_dt as regDate, chg_dt as updateDate
		from gl_member
		where mbr_no = #{no}
	</select>
	
	<select id="checkByUsername">
		select count(*)
		from gl_member
		where mbr_id = #{username}
	</select>
	
	<select id="checkByEmail">
		select count(*)
		from gl_member
		where mbr_email = #{email}
	</select>
	
	<select id="checkByNickname">
		select count(*)
		from gl_member
		where mbr_nickname = #{nickname}
	</select>
	
	<update id="updatePassword">
		update gl_member set mbr_pwd = #{password} where mbr_no = #{no}
	</update>
	
	<insert id="subscribe">
		insert into gl_member_subscribe values(#{from}, #{to})
	</insert>
	
	<delete id="subscribeCancle">
		delete from gl_member_subscribe where mbr_no = #{from} and mbr_is_subscribed = #{to} 
	</delete>
</mapper>
