<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golearn.mapper.UserMapper">

	<insert id="save" parameterType="com.golearn.domain.UserDto">
		insert into gl_member (mbr_id, mbr_email, mbr_pwd, mbr_nickname, mbr_profile, mbr_banner)
		values (#{username}, #{email}, #{password}, #{nickname}, #{profile}, #{banner})
	</insert>
	
	<update id="updateUser">
		
	</update>
	
	<update id="disableUser">
		update gl_member set ck_active = false where mbr_no = #{no}
	</update>
	
	<select id="findByUsername" resultType="com.golearn.domain.UserDto">
		select mbr_no as no, mbr_id as username, mbr_pwd as password, mbr_email as email, mbr_nickname as nickname, mbr_profile as profile, reg_dt as regDate, chg_dt as updateDate, mbr_banner banner,
		(select count(*) from gl_member_subscribe where mbr_no = #{no}) as subscribeCount
		from gl_member
		where mbr_no = #{no}
	</select>
	
	<select id="findByUserId" resultType="com.golearn.domain.UserDto">
		select mbr_no as no, mbr_id as username, mbr_email as email, mbr_nickname as nickname, mbr_profile as profile, reg_dt as regDate, chg_dt as updateDate, mbr_banner banner,
		(select count(*) from gl_member_subscribe where mbr_id = #{userId}) as subscribeCount
		from gl_member
		where mbr_id = #{userId}
	</select>
	
	<select id="checkByUsername" resultType="Integer">
		select count(*)
		from gl_member
		where mbr_id = #{username}
	</select>
	
	<select id="checkByEmail" resultType="Integer">
		select count(*)
		from gl_member
		where mbr_email = #{email}
	</select>
	
	<select id="checkByNickname" resultType="Integer">
		select count(*)
		from gl_member
		where mbr_nickname = #{nickname}
	</select>
	
	<update id="updatePassword">
		update gl_member set mbr_pwd = #{password} where mbr_no = #{no}
	</update>
	
	<select id="subscribeList" resultType="com.golearn.domain.SubscribeDto">
		select mgm.mbr_no as no, mgm.mbr_id as username
		from (
			select gms.mbr_is_subscribed as no
			from gl_member gm inner join gl_member_subscribe gms
			on gm.mbr_no = #{no} and gm.mbr_no = gms.mbr_no
		    ) as sub join gl_member mgm
		on sub.no = mgm.mbr_no;
	</select>
	
	<insert id="subscribe">
		insert into gl_member_subscribe values(#{from}, #{to})
	</insert>
	
	<delete id="subscribeCancle">
		delete from gl_member_subscribe where mbr_no = #{from} and mbr_is_subscribed = #{to} 
	</delete>
	
	<select id="subscribeCheck" resultType="Integer">
		select count(*)
		from gl_member_subscribe
		where mbr_no = #{from} and mbr_is_subscribed = #{to}
	</select>
</mapper>
